
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">RM</div>
                                    <div>Resource Management</div>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="resManagement">
                            <div class="panel-footer">
                                <span class="pull-left">Go</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-share-alt fa-5x fa-rotate-90"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Process</div>
                                    <div>xxx</div>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="resManagement">
                            <div class="panel-footer">
                                <span class="pull-left">Go</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file-text-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Form</div>
                                    <div>xxx</div>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="resManagement">
                            <div class="panel-footer">
                                <span class="pull-left">Go</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>